* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 7vh;
}

body {
  background-color: hsl(240, 3%, 11%);
  ;
}

a {
  text-decoration: none;
}

/*--scrollbar--*/
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: hsl(240, 3%, 11%);
}

body::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 42%);
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
}

/*--scrollbar--*/

section {
  background-color: hsl(0, 0%, 100%);
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-size: 6rem;
  line-height: 4rem;
  text-align: left;
  margin-bottom: 2rem;
}
h3 {
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  line-height: 1rem;
  text-align: left;
  margin-bottom: 2rem;
}

h1 b {
  background: linear-gradient(0deg, hsla(17, 100%, 50%, 0.7), hsl(23, 83%, 48%));
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

h2 {
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(0deg, hsla(0, 0%, 0%, 0.7), hsl(0, 0%, 0%));
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.number {
  color: white !important;
  -webkit-text-fill-color: white;
}

/*--nav--*/

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  transform: translateY(-1px);
  flex-direction: row-reverse;
  background: hsla(240, 3%, 11%, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);  
  padding: 0.5rem;
  text-align: center;
}

#special {
  color: hsl(0, 0%, 5%);
  background-color: hsl(0, 0%, 100%);
}

nav ul li {
  margin: 0.5vw 1vw;
}

nav ul li a {
  padding: 0.5vw 1.5vw;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  border-radius: 1vw;
  font-family: "Rubik", sans-serif;
}

nav ul li a:hover {
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));

  color: hsl(0, 0%, 100%) !important;
}

#burger {
  visibility: hidden;
}

header label {
  visibility: hidden;
}

/*--nav--*/

/*--splash--*/

.splash {
  background-image: linear-gradient(
      45deg,
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0.9)
    ),
    url(../img/IMG_0997.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 100%);
}

#pfp {
  width: 20rem !important;
  border-radius: 5rem;
  box-shadow: 0 0 1rem hsl(0, 0%, 5%);
}

.splash div {
  padding: 0 2rem;
}

.favicon {
  display: none;
}

.profiel-txt {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  text-align: justify;
  color: hsl(0, 0%, 100%);
}

/*--splash--*/

/*--ervaring--*/

.opleiding-txt {
  display: flex;
  min-height: 70vh;
  margin: 0 5vw 0 5vw;
  padding-top: 5vw;
  font-family: "Heebo", sans-serif;
}

.ervaring-txt {
  display: flex;
  min-height: 70vh;
  margin: 0 5vw 0 5vw;
  padding-bottom: 5vw;
  font-family: "Heebo", sans-serif;
}

#ervaring b {
  color: hsl(0, 0%, 17%);
}

.left-col {
  width: 50%;
}

.right-col {
  width: 50%;
}
.img-bg-opleiding {
  background-image: url(https://images.unsplash.com/photo-1535982330050-f1c2fb79ff78?q=80&w=3174&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

.col-txt {
  text-align: center;
  margin: auto 0 auto 0;
}

.img-bg-ervaring {
  background-image: url(https://images.unsplash.com/photo-1445116572660-236099ec97a0?q=80&w=2942&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
}

/*--ervaring--*/

/*--kennis--*/

.container-bar {
  width: 100%;
  background: linear-gradient(
    145deg,
    hsla(0, 0%, 0%, 0.5),
    hsla(0, 0%, 0%, 0.2)
  );
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.skills {
  text-align: left;
  color: hsl(0, 0%, 0%);
  border-radius: 1rem 0 0 1rem;
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
}

.skills p {
  margin-bottom: 0.5rem;
}

.skill-columns {
  display: inline-flex;
}

.skill-columns div {
  margin-right: 10em;
}

.nl {
  padding: 0.3rem 1rem;

  width: 95%;
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
  color: hsl(0, 0%, 100%);
}
.en {
  padding: 0.3rem 1rem;

  width: 90%;
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
  color: hsl(0, 0%, 100%);
}
.fr {
  padding: 0.3rem 1rem;

  width: 51%;
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
  color: hsl(0, 0%, 100%);
}

.adobe {
  padding: 0.3rem 1rem;

  width: 65%;
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
  color: hsl(0, 0%, 100%);
}

.office {
  padding: 0.3rem 1rem;

  width: 60%;
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
  color: hsl(0, 0%, 100%);
}

.web {
  padding: 0.3rem 1rem;

  width: 57%;
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
  color: hsl(0, 0%, 100%);
}

#kennis {
  padding: 5vw 0 5vw 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kennis {
  width: 35vw;
  margin: 0 5% 0 5%;
}

/*--kennis--*/

/*--portfolio--*/

#portfolio {
  padding: 5vw 0;
  background: hsl(240, 3%, 11%);
}

#portfolio b {
  font-size: 2rem;
}

.gallery-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  object-fit: cover;
  min-height: 55vh;
  padding: 3vh 0 3vh 0;
  margin: 0 auto;
}

.gallery {
  display: inline-flex;
}

#portfolio h2 {
  background: linear-gradient(0deg, hsla(0, 0%, 100%, 0.7), hsl(0, 0%, 100%));
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.gallery-element {
  width: 50vw;
  min-height: 50vh;
  background-size: cover;
  margin: 0 1vw 0 1vw;
  display: flex;
  border-radius: 0.5rem;
  align-items: flex-end;
  justify-content: flex-start;
  transition: 0.5s cubic-bezier(0.5, 0.82, 0.165, 1);
  box-shadow: 0 0 1rem hsl(0, 0%, 5%);
}

.gallery-element:hover {
  width: 52vw;
  cursor: pointer;
}

.gallery a {
  text-decoration: none;
}

.gallery p {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  color: hsl(0, 0%, 100%);
  margin: 0 0 2vw 2vw;
}

.gallery .special {
  color: hsl(0, 0%, 17%);
}

.coming-soon {
  background: linear-gradient(-45deg, hsl(17, 100%, 50%), hsl(23, 83%, 48%));
}

.gallery-img-1 {
  background-image: url(../img/Website.jpg);
}
.gallery-img-2 {
  background-image: url(../img/IMG_9191.jpeg);
}
.gallery-img-3 {
  background-image: url(../img/photo_5971868076666371537_y.jpg);
}
.gallery-img-4 {
  background-image: url(../img/IMG_1515.jpg);
}
.gallery-img-5 {
  background-image: url(../img/IMG_1788.jpeg);
}
.gallery-img-6 {
  background-image: url(../img/IMG_1791.jpg);
}

.gallery img {
  object-fit: cover;
}

/*--portfolio--*/

/*--footer--*/

footer {
  color: hsl(0, 0%, 100%);
  font-family: "Heebo", sans-serif;
  padding: 5vw;
  background: hsl(240, 3%, 11%);
  display: flex;
}

.fas {
  margin-right: 1rem;
}

footer div {
  width: 50%;
  height: 100%;
}

.social {
  display: flex;
  justify-content: right;
}

.social ul {
  display: flex;
  flex-direction: row;
}

.social ul li {
  padding: 0 2rem;
}

.social ul li i {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}

.fa-instagram:hover {
  background: linear-gradient(
    100deg,
    hsl(32, 90%, 51%),
    hsl(325, 100%, 50%),
    hsl(298, 83%, 38%)
  );
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-facebook-f:hover {
  background: linear-gradient(45deg, hsl(224, 100%, 50%), hsl(224, 100%, 65%));
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin-in:hover {
  background: linear-gradient(45deg, hsl(224, 63%, 41%), hsl(224, 51%, 39%));
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube:hover {
  background: linear-gradient(180deg, hsl(0, 89%, 64%), hsl(0, 100%, 42%));
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*--footer--*/

@media (max-width: 700px) {
  * {
    scroll-padding-top: 0;
  }

  h2 {
    margin-top: 2rem;
  }

  h3 {
    text-align: center;
    line-height: 4rem;
  }

  /*--nav--*/

  #title {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: none;
    padding: 10vh 3vw 10vh 0;
    min-height: 120vh;
  }

  nav ul li {
    margin: 1vh 1vw;
  }

  nav ul li a {
    padding: 1vh 5vw;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: "Heebo", sans-serif;
    font-size: 1.5rem;
  }

  nav ul li a:hover {
    color: hsl(224, 100%, 65%);
    background: none;
  }

  header {
    position: fixed !important;
    background: hsla(240, 3%, 11%, 0.75);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transition: ease-in-out 0.3s all !important;
    width: 100%;
    text-align: right;
  }

  #burger {
    visibility: visible !important;
  }

  header label {
    visibility: visible !important;
  }

  header nav {
    display: none !important;
  }

  input#burger:checked + nav {
    display: contents !important;
    z-index: 101 !important;
    overflow-y: auto !important;
  }

  header input {
    display: none !important;
  }

  i.fa-bars {
    padding: 5vw 5vw 5vw 6vw;
    font-size: 1rem !important;
    cursor: pointer;
    color: hsl(0, 0%, 100%) !important;
    transition: ease-in-out 0.3s all !important;
    text-shadow: 0 0 1rem hsl(0, 0%, 0%, 0.5) !important;
  }

  span {
    color: hsl(0, 0%, 100%);
    font-size: 1rem !important;
    font-family: "Rubik", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
  }

  /*--nav--*/

  /*--splash--*/

  .splash {
    background-size: 250%;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  #pfp {
    margin: 15vh 0 2vh 0;
    border-radius: 4rem;
    width: 15rem !important;
    box-shadow: 0 0 1rem hsl(0, 0%, 5%);
  }

  .profiel-txt {
    font-family: "Heebo", sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin: 0 0 5vh 0 !important;
  }
  .profiel-txt h1 {
    text-align: center;
  }

  h1 {
    margin-bottom: 1rem;
  }

  /*--splash--*/

  /*--ervaring--*/

  .opleiding-txt {
    display: flex;
    min-height: 100vh;
    flex-direction: column-reverse;
    padding-top: 0;
  }

  .col-txt {
    margin: auto 0 auto 0;
  }

  .left-col {
    width: 100%;
  }

  .right-col {
    width: 100%;
  }

  .ervaring-txt {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .img-bg-opleiding {
    height: 30vh;
    background-position: 0 -8vw;
    background-attachment: scroll;
  }

  .img-bg-ervaring {
    height: 30vh;
    background-attachment: scroll;
  }

  /*--ervaring--*/

  /*--kennis--*/

  .kennis {
    margin: 0 1% 0 1%;
    width: 85vw;
  }

  #kennis {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*--kennis--*/

  /*--portfolio--*/

  .gallery-element {
    width: 70vw;
    border-radius: 1rem;
    min-height: 40vh;
  }

  #portfolio b {
    font-size: 1.5rem;
  }

  .gallery-element:hover {
    cursor: pointer;
  }

  .gallery p {
    margin: 0 0 4vw 4vw;
  }

  #special {
    color: hsl(0, 0%, 100%);
    background: none;
  }

  .gallery-container {
    width: 100%;
    min-height: 45vh;
    padding: 3vh 4vw 3vh 4vw;
    margin: 0 auto;
  }

  /*--portfolio--*/

  /*--footer--*/

  footer {
    padding: 5vh 5vw 5vh 5vw;
    flex-direction: column;
  }

  footer div {
    width: 100%;
  }

  .social {
    justify-content: center;
  }

  .social ul {
    flex-direction: row;
  }

  .social ul li {
    padding: 4rem 2rem 1.5rem 2rem;
  }

  .social ul li i {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
  }

  /*--footer--*/
}
